<%# coding: UTF-8 -%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
                      "XHTML1-s.dtd" >
<html xmlns="http://www.w3.org/TR/1999/REC-html-in-xml"
      xml:lang="en" lang="en" >

  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Synapses <%= t.label.central_login_title %>">
    <meta name="author" content="Synapses">

    <title><%= escape_html @organization %> <%= t.label.central_login_title %></title>
    <link rel="stylesheet" type="text/css" href="<%= escape_html @uri_path %>/themes/<%= escape_html @theme %>/css/theme.css" />
    <link rel="stylesheet" type="text/css" href="<%= escape_html @uri_path %>/themes/<%= escape_html @theme %>/css/extra.css" />
    <link rel="icon" type="image/png" href="<%= escape_html @uri_path %>/themes/<%= escape_html @theme %>/favicon.png" />
    <script src="<%= escape_html @uri_path %>/js/jquery-1.7.1.min.js"></script>
    <script src="<%= escape_html @uri_path %>/js/bootstrap.min.js"></script>
    <script src="<%= escape_html @uri_path %>/js/jquery.placeholder.min.js"></script>
  </head>

  <body>
    <%= yield %>


  <script type="text/javascript">
    $(function(){
      $('input, textarea').placeholder();
    });
  </script>
  </body>



</html>
